body {
    background-color: grey}
    p { 
        width: 300px;
        padding : 20px;
        background-color: #0F4069;
        border: solid #e6eaef 2px;
        border-radius:15px 50px }